* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100vw;
    background-color: yellowgreen;
}

.fa-notes {
    color: red;
}

.its-pany {}

.add-note {
    display: flex;
    justify-content: end;
    padding: 21px;
}

.add-note button {
    border: 2px solid aqua;
    padding: 6px;
    border-radius: 10px;
}

.note {
    /* display: flex;
    background-color: burlywood;
    height: 220px;
    margin-left: 6vw;
    overflow: scroll; */
    display: inline-grid;
    background-color: burlywood;
    height: 220px;
    margin-left: 6vw;
    overflow: scroll;
    width: 253px;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    /* margin-left: 155px; */
    margin-top: 21px;
  }
.operation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkgoldenrod;
}
.operation button{

}
.clacc-main{

}
.hidden{
    display: none;
}